:root{
  --cl-primary:#fff;
  --cl-primary-1:#444;
  --cl-primary-2:#808080;
  --cl-primary-3:#666;
  --cl-primary-4:#fdfbfb;
  --cl-primary-5:#a7a4a4;
  --cl-primary-6:#222222;
  --cl-primary-7:#be9656;
  --cl-primary-8:#999;
  --cl-primary-9:#008080;
  --cl-primary-10:#ff6347;
  --cl-primary-11:#817d7d;
  --cl-primary-12:#f08080;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px */
}
a {
  text-decoration: none;
  color: inherit;
}
